body {
    font-family: sans-serif;
}

header {
    background-color: rgb(124, 218, 241);
    padding: 8px;
    border-radius: 5px;
}

h1 {
    color: purple;
    text-align: center;
}

footer {
    background-color: rgb(245, 188, 134);
    padding: 5px;
}

footer p {
    background-color: white;
}

nav a {
    background-color: blue;
    padding: 4px;
    margin: 2px;
    text-decoration: black;
    color: white;
    
}

.pon {
    background-color: darkolivegreen;
    padding: 10px;
}

h2 {
    color: blue;
}

.pan {
    border: 1px solid blue;
    padding: 5px;
    text-decoration: none;
}
